a{
text-decoration: none;
color: inherit;
}

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: navy;
}

.header-ttl{
  font-size: 30px;
  margin: 20px;
}

.navilist{
  display: flex;
  justify-content: flex-end;
}

.navi{
  padding: 20px;
  font-weight: bold;
}

.top_img img{
  margin: 100px 0 0 auto;
  display: block;
  width: 50%;
  z-index: 20;
  position: relative; 
}

.top_comment_box{
  position: relative;
}

.top_comment{
  font-size: 70px;
  font-weight: 500;
  position: absolute;
  top:-120px;
}

.top_box{
  position: absolute;
  background-color: navy;
  width: 1200px;
  height: 200px;
  z-index: 10;
  top:-50px;
}